<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalle de ingreso egreso</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Monto</th>
                            <th>Tipo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let ingresoEgreso of ingresosEgresos | ordenarIngresoEgreso">
                            <td>{{ingresoEgreso.descripcion}}</td>
                            <td>{{ingresoEgreso.monto | currency}}</td>
                            <td><span [ngClass]="{'text-success':ingresoEgreso.tipo=='Ingreso','text-danger':ingresoEgreso.tipo=='Egreso'}">{{ingresoEgreso.tipo}}</span></td>
                            <td>
                                <button *ngIf="!cargando" class="btn btn-danger" (click)="borrarItem(ingresoEgreso)"><i class="fas fa-trash"></i></button>
                                <button *ngIf="cargando" class="btn btn-danger" disabled><i class="fas fa-spin fa-sync"></i></button>
                            </td>
                        </tr>
                    </tbody>

                </table>


            </div>
        </div>
    </div>
</div>